#RestFUL\u9023\u7dda\u8a2d\u5b9a
ConnectionType	= http
ServerName 		= 10.82.110.11
#ServerName 	= localhost
Port 			= 8080
MAIN-root		= iam-main/restful
UAA-M100-root	= iam-uaa-m100/restful
UAA-M300-root	= iam-uaa-m300/restful
UAA-M400-root	= iam-uaa-m400/restful
UAA-M700-root	= iam-uaa-m700/restful
ICA-root		= iam-ica/restful
UCA-root		= iam-uca/restful
UHC-root		= iam-uhc/restful
UIM-root		= iam-uim/restful
UVA-root		= uva/status
REPORT-root		= iam-report/restful
UAA-SCHEDULER-root = iam-uaa-scheduler/restful


#這邊開始指定若有需要客製化的ConnectionType則在這邊處理
ConnectionType.UVA = http

#這邊開始指定若有需要客製化的ServerName則在這邊處理
#ServerName.UVA  = 192.168.31.151
#ServerName.UVA  = 192.168.31.229
ServerName.UVA  = 10.82.110.11

#這邊開始指定若有需要客製化的Port則在這邊處理
Port.UVA        = 8080