################這個檔案IAM的主要設定檔############################

#主要設定檔的資料庫類型MYSQL,ORACLE,SQLServer,PostgresSQL
MasterDataBaseType = SQLServer

#Jboss使用
MasterJNDI	=	java:jboss/datasources/iamSqlServer

＃weblogic使用
#MasterJNDI	=	jboss/datasources/IAM-MASTER

#要印出的等級
LogbackLevel = DEBUG
#是否啟動UIM，Enable=啟動，Disable=不啟動
Iam-Uim	= Disable


#設定是否需要記錄相關的Log
isRecord.DataLog = TRUE
isRecord.ExceptionLog = TRUE
isRecord.LoginLog = TRUE
isRecord.OpLog = TRUE
isRecord.SystemLog = TRUE

#LofFile保留天數設定
KeeyDay.DataLog = 7
KeeyDay.ExceptionLog = 7
KeeyDay.LoginLog = 7
KeeyDay.OpLog = 7
KeeyDay.SystemLog = 7
